* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
    background: #D7CBB2;
    border: 2px black solid;
    max-width: 100vw;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: inherit;
}

.container__main {
  display: flex;
  max-width: 100vw;
  height: 70%;
  align-items: center;
  justify-content: center;
  background:  #FCEED8;
}

.container__img {
  max-width: 50vw;
}

.container__form {
  max-width: 50vw;
  padding-left: 3em;
}

.imc-img {
  width: 20em;
  height: 10em;
  margin-bottom: 1.5em;
}

.article__desc {
  width: 350px;
  font: oblique bold 90% cursive;  
}

.formulario {
    background: chartreuse;
    border:6px darkblue solid;
}

.footer {
  height: 20%;
  background: #DEB48E;
  text-align: left;
  display: flex;
}

.team {
    padding-left: 100px;
}

.img_footer {
    width: 10em;
    height: 5em;
    padding: 3;
    margin-top: 5px;
}

.img_syntax{
   width: 20em; 
   height: 2em;
   margin-top: 4%;
   margin-left: 40%;
}

h2 {
    padding: 15px;
    text-align: center;
    color: rgb(94, 87, 28);
    font-size: 4vh;
}